/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Montserrat, sans-serif;
}

body{
  background:#070707;
  color:#eaeaea;
  overflow-x:hidden;
}

/* NAVBAR */
.navbar{
  position:fixed;
  top:0;
  width:100%;
  background:rgba(0,0,0,0.6);
  backdrop-filter:blur(12px);
  z-index:1000;
}

.nav-container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 30px;
}

.logo{
  font-weight:600;
  color:#c8a24a;
}

.nav-links{
  display:flex;
  gap:25px;
  list-style:none;
}

.nav-links a{
  color:white;
  text-decoration:none;
  font-weight:300;
}

.menu-toggle{
  display:none;
  font-size:26px;
  cursor:pointer;
}

/* HERO */
.hero{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;

  background:
    linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.9)),
    url("https://images.unsplash.com/photo-1503376780353-7e6692767b70")
    center/cover no-repeat;
}

.hero-content h1{
  font-size:clamp(36px,5vw,70px);
  letter-spacing:4px;
}

.hero-content p{
  color:#aaa;
  margin-top:15px;
}

.btn{
  margin-top:25px;
  padding:12px 30px;
  border:1px solid #c8a24a;
  color:#c8a24a;
  background:transparent;
  cursor:pointer;
}

/* SECTIONS */
.section{
  padding:120px 10%;
}

.dark{
  background:#0b0b0b;
}

h2{
  font-size:34px;
  margin-bottom:40px;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.card{
  background:#111;
  padding:20px;
  border:1px solid #1f1f1f;
}

.card h3{
  color:#c8a24a;
}

/* TIMELINE */
.timeline{
  border-left:2px solid #333;
  padding-left:20px;
}

.event{
  margin-bottom:15px;
  color:#aaa;
}

/* GALLERY */
.gallery{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:10px;
}

.gallery img{
  width:100%;
  height:220px;
  object-fit:cover;
}

/* FORM */
form{
  display:flex;
  flex-direction:column;
  gap:12px;
  max-width:500px;
}

input, textarea{
  padding:12px;
  background:#111;
  border:1px solid #222;
  color:white;
}

/* REVIEWS */
.review{
  border-left:2px solid #c8a24a;
  padding-left:10px;
  margin-bottom:10px;
  color:#aaa;
}

/* MODAL */
.modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.8);
  justify-content:center;
  align-items:center;
}

.modal-content{
  background:#111;
  padding:40px;
  border:1px solid #c8a24a;
}

.close{
  cursor:pointer;
  float:right;
  color:#c8a24a;
}

/* MOBILE */
@media(max-width:768px){
  .nav-links{
    display:none;
    position:absolute;
    top:60px;
    right:20px;
    flex-direction:column;
    background:#111;
    padding:15px;
  }

  .nav-links.active{
    display:flex;
  }

  .menu-toggle{
    display:block;
  }

  .gallery{
    grid-template-columns:1fr;
  }
}